  <div class="container-fluid bg-transparent">

    <div class="iced-title text-center">
      Hello, I'm William!
    </div>

    <div class='row justify-content-center'>

      <div class='iced-text text-justify'>

        <p>Geek who love hiking? Or Hiker that love tech? Completely passionate for new technologies, I like to describe
          myself as an early adopter. Hey, I had developed my first webpage with 11 years old on 2bg (before Google,
          1996 DC) and had to deal with things like memmaker on MS-DOS to play my games!</p>

        <p>I graduated in Electrical Engineering and had been working with lot of different techs so far, specially on
          backend, cloud and devops focused on microservices architectures. I had already had the chance to work with
          languages like C#, .NET Core, NodeJS, Python, Ruby, etc... And also some other techs like Docker, Kubernetes,
          SQL Server, Cassandra (NoSQL), RabbitMQ, SQS/SNS, AWS and GCP tools, Chef and a lot of other things (did I
          mention my new go GoLang passion?). On frontend side, I had already played with Angular (this site actually),
          bootstrap, javascript and some others.</p>

        <p>So, I decided to build this page as a small portfolio for personal projects. Here you will find some cool
          projects (for fun or to study) that I do when I'm not working, playing video games or hiking =] I really hope
          that you enjoy it!</p>

        <p>In case of any question, please fell free to contact me in one of my networks or my personal e-mail! Ps.: You
          may also see some of my projects signed as <i>"Iced"</i> or <i>"Icedburn"</i> that is my nicknames in some games and places.
        </p>
      </div>

      <img class='img-fluid align-items-center img-thumbnail'
           src='assets/img/salto.gif'
           alt='A nice trip'
           style='margin-top: 3rem'>
    </div>
  </div>

