<div class="container-fluid bg-transparent">

  <div class="iced-title text-center">
    My Resume
  </div>

  <div class='row justify-content-center'>

    <div class='container iced-text'>
      <p>Hi! I'm very happy that you are interested in my resume! Well... I know that some browser may have trouble to see
      it embeded, so no worries! If you don't see it below or if you want to download it... just click the button below =]</p>
    </div>

    <div class='container d-flex justify-content-center'>
        <a href='assets/pdf/CV_WilliamDiniz.pdf' type='button' class='btn btn-primary btn-lg btn-iced-resume'>Download Resume</a>
    </div>

    <div class='container'>
      <object data="assets/pdf/CV_WilliamDiniz.pdf" type="application/pdf" width="100%" height="800px">
        <p>It appears that your browser didn't support embed PDF. Please, click here to download my resume: </p>
        <a href='assets/pdf/CV_WilliamDiniz.pdf'></a>
      </object>
    </div>
  </div>
</div>
